{% extends 'base.html.twig' %}

{% block title %}Ekkitugol
{% endblock %}

{% block body %}
	<section class="px-2 py-32 bg-white md:px-0">
		<div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
			<div class="flex flex-wrap items-center sm:-mx-3">
				<div class="w-full md:w-1/2 md:px-3">
					<div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
						<h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
							<span class="block xl:inline">Apprenez le Peulh</span>
							<span class="block text-green-700 xl:inline">En vous amusant !</span>
						</h1>
						<p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">Apprendre le Peulh n'a jamais été aussi simple. Venez découvrir cette langue parlée dans plusieurs pays d'Afrique sub-saharienne.</p>

						<div x-data="{ fullscreenModal: false }" x-init="
																																																																																																																																																																																																																		    $watch('fullscreenModal', function(value){
																																																																																																																																																																																																																		            if(value === true){
																																																																																																																																																																																																																		                document.body.classList.add('overflow-hidden');
																																																																																																																																																																																																																		            }else{
																																																																																																																																																																																																																		                document.body.classList.remove('overflow-hidden');
																																																																																																																																																																																																																		            }
																																																																																																																																																																																																																		        })
																																																																																																																																																																																																																		    " @keydown.escape="fullscreenModal=false">
							<button @click="fullscreenModal=true" class="inline-flex items-center justify-center h-10 px-4 py-2 text-white text-lg font-medium transition-colors bg-green-700 border rounded-md hover:bg-green-800 active:bg-green-700 focus:bg-green-700 focus:outline-none focus:ring-2 focus:ring-neutral-200/60 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none">Inscription</button>
							<template x-teleport="body">

								<div x-show="fullscreenModal" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="flex fixed inset-0 z-[99] w-screen h-screen bg-white">


									<div x-data="{ fullscreenModal: false }" x-init="
																																																																																																																								    $watch('fullscreenModal', function(value){
																																																																																																																								            if(value === true){
																																																																																																																								                document.body.classList.add('overflow-hidden');
																																																																																																																								            }else{
																																																																																																																								                document.body.classList.remove('overflow-hidden');
																																																																																																																								            }
																																																																																																																								        })
																																																																																																																								    " @keydown.escape="fullscreenModal=false">
										<button @click="fullscreenModal=true" class="absolute top-0 left-0 z-30 flex items-center justify-center px-3 py-2 mt-3 ml-3 space-x-1 text-xs font-medium uppercase border rounded-md border-neutral-200 text-neutral-600 hover:bg-neutral-100">Connexion</button>
										<template x-teleport="body">

											<div x-show="fullscreenModal" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="flex fixed inset-0 z-[99] w-screen h-screen bg-white">
												<button @click="fullscreenModal=false" class="absolute top-0 right-0 z-30 flex items-center justify-center px-3 py-2 mt-3 mr-3 space-x-1 text-xs font-medium uppercase border rounded-md border-neutral-200 text-neutral-600 hover:bg-neutral-100">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
													<span>Fermer</span>
												</button>
												<section class="w-full h-full bg-gray-200">

													<div class="w-full h-full bg-white lg:w-6/12 xl:w-5/12 mx-auto">
														<div class="flex flex-col items-start justify-start w-full h-full p-10 lg:p-16 xl:p-24">
															<h4 class="w-full text-3xl font-bold">Connectez-vous</h4>

															<div class="relative w-full mt-10 space-y-8">

																<div class="relative">
																	<label class="font-medium text-gray-900">Email</label>
																	<input type="text" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Entrer Votre Adresse Email"/>
																</div>
																<div class="relative">
																	<label class="font-medium text-gray-900">Mot de passe</label>
																	<input type="password" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Mot de Passe"/>
																</div>
																<div class="relative">
																	<a href="#_" class="inline-block w-full px-5 py-4 text-lg font-medium text-center text-white transition duration-200 bg-green-700 rounded-lg hover:bg-green-800 ease" data-primary="green-700" data-rounded="rounded-lg">Connexion</a>

																</div>
															</div>
														</div>
													</div>
												</section>
											</div>

										</template>
									</div>


									<button @click="fullscreenModal=false" class="absolute top-0 right-0 z-30 flex items-center justify-center px-3 py-2 mt-3 mr-3 space-x-1 text-xs font-medium uppercase border rounded-md border-neutral-200 text-neutral-600 hover:bg-neutral-100">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
										<span>Fermer</span>
									</button>
									<section class="w-full h-full bg-gray-200">

										<div class="w-full h-full bg-white lg:w-6/12 xl:w-5/12 mx-auto">
											<div class="flex flex-col items-start justify-start w-full h-full p-10 lg:p-16 xl:p-24">
												<h4 class="w-full text-3xl font-bold">Inscrivez-vous</h4>

												<div class="relative w-full mt-10 space-y-8">
													<div class="relative">
														<label class="font-medium text-gray-900">Nom</label>
														<input type="text" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Entrer Votre Nom"/>
													</div>
													<div class="relative">
														<label class="font-medium text-gray-900">Prénom</label>
														<input type="text" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Entrer Votre Prénom"/>
													</div>
													<div class="relative">
														<label class="font-medium text-gray-900">Email</label>
														<input type="text" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Entrer Votre Adresse Email"/>
													</div>
													<div class="relative">
														<label class="font-medium text-gray-900">Mot de passe</label>
														<input type="password" class="block w-full px-4 py-4 mt-2 text-xl placeholder-gray-400 bg-gray-200 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50" data-primary="blue-600" data-rounded="rounded-lg" placeholder="Mot de Passe"/>
													</div>
													<div class="relative">
														<a href="#_" class="inline-block w-full px-5 py-4 text-lg font-medium text-center text-white transition duration-200 bg-green-700 rounded-lg hover:bg-green-800 ease" data-primary="green-700" data-rounded="rounded-lg">S'isncrire</a>

													</div>
												</div>
											</div>
										</div>
									</section>
								</div>

							</template>
						</div>


					</div>
				</div>
				<div class="w-full md:w-1/2">
					<div class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl" data-rounded="rounded-xl" data-rounded-max="rounded-full">
						<img src="{{asset('images/boy-writing.jpg')}}">
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="flex items-center justify-center py-16 bg-gray-100 min-w-screen">
		<div class="max-w-6xl px-12 mx-auto bg-gray-100 md:px-16 xl:px-10">
			<div class="flex flex-col items-center lg:flex-row">
				<div class="flex flex-col items-start justify-center w-full h-full pr-8 mb-10 lg:mb-0 lg:w-1/2">
					<p class="mb-2 text-base font-medium tracking-tight text-green-700 uppercase" data-primary="green-700">Nos clients adorent notre application</p>
					<h2 class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl">Témoignages</h2>
					<p class="my-6 text-lg text-gray-600">Ne nous croyez pas sur parole, lisez les nombreux témoignages de nos clients.</p>
					<a href="#_" class="flex items-center justify-center px-8 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-green-700 border border-transparent rounded-md shadow hover:bg-green-800 focus:outline-none focus:border-geeen-700 focus:shadow-outline-green md:py-4 md:text-lg md:px-10" data-primary="green-700" data-rounded="rounded-md">Voir les témoignages</a>
				</div>
				<div class="w-full lg:w-1/2">
					<blockquote class="flex items-center justify-between w-full col-span-1 p-6 bg-white rounded-lg shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
						<div class="flex flex-col pr-8">
							<div class="relative pl-12">
								<svg class="absolute left-0 w-10 h-10 text-green-700 fill-current" data-primary="green-700" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 125">
									<path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"/>
								</svg>
								<p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base">Awesome product! And the customer service is exceptionally well.</p>
							</div>

							<h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm">
								Jane Cooper
								<span class="mt-1 text-sm leading-5 text-gray-500 truncate">- CEO SomeCompany</span>
							</h3>
						</div>
						<img class="flex-shrink-0 w-20 h-20 bg-gray-300 rounded-full xl:w-24 xl:h-24" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
					</blockquote>
					<blockquote class="flex items-center justify-between w-full col-span-1 p-6 mt-4 bg-white rounded-lg shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
						<div class="flex flex-col pr-10">
							<div class="relative pl-12">
								<svg class="absolute left-0 w-10 h-10 text-green-700 fill-current" data-primary="green-700" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 125">
									<path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"/>
								</svg>
								<p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base">I can't express enough, how amazing this service has been for my company.</p>
							</div>
							<h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm">
								John Doe
								<span class="mt-1 text-sm leading-5 text-gray-500 truncate">- CEO SomeCompany</span>
							</h3>
							<p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
						</div>
						<img class="flex-shrink-0 w-24 h-24 bg-gray-300 rounded-full" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&aauto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
					</blockquote>
					<blockquote class="flex items-center justify-between w-full col-span-1 p-6 mt-4 bg-white rounded-lg shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
						<div class="flex flex-col pr-10">
							<div class="relative pl-12">
								<svg class="absolute left-0 w-10 h-10 text-green-700 fill-current" data-primary="green-700" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 125">
									<path d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z"/>
								</svg>
								<p class="mt-2 text-sm text-gray-600 sm:text-base lg:text-sm xl:text-base">I can't express enough, how amazing this service has been for my company.</p>
							</div>

							<h3 class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm">
								John Smith
								<span class="mt-1 text-sm leading-5 text-gray-500 truncate">- CEO SomeCompany</span>
							</h3>
							<p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
						</div>
						<img class="flex-shrink-0 w-24 h-24 bg-gray-300 rounded-full" src="https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rrb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&aauto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
					</blockquote>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
